<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <display-name>servlet-demo</display-name>
  <context-param>
    <description>管理员邮件地址</description>
    <param-name>webmaster</param-name>
    <param-value>admin@qiuww.com</param-value>
  </context-param>
  <servlet>
    <servlet-name>HttpServletDemo</servlet-name>
    <servlet-class>org.moonbreezee.demo.servletdemo.HttpServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletDemo</servlet-name>
    <url-pattern>/HttpServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>org.moonbreezee.demo.servletdemo.ServletDemo</servlet-class>
    <init-param>
      <param-name>myParam</param-name>
      <param-value>paramValue</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenericServletDemo</servlet-name>
    <servlet-class>org.moonbreezee.demo.servletdemo.GenericServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletDemo</servlet-name>
    <url-pattern>/GenericServletDemo</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>